<div class="nav">
    <mat-nav-list>
        <a mat-list-item routerLink="/main" (click)="close()">
            <mat-icon>grid_view</mat-icon>
            <span>Főoldal</span>
        </a>
        <a mat-list-item routerLink="/entry" (click)="close()">
            <mat-icon>collections</mat-icon>
            <span>Eredmények</span>
        </a>
        <a mat-list-item routerLink="/gallery" (click)="close()">
            <mat-icon>info</mat-icon>
            <span>Galéria</span>
        </a>
        <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
            <mat-icon>login</mat-icon>
            <span>Bejelentkezés</span>
        </a>
        <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedInUser">
            <mat-icon>logout</mat-icon>
            <span>Kijelentkezés</span>
        </a>
        <a mat-list-item routerLink="/signup" (click)="close()" *ngIf="!loggedInUser">
            <mat-icon>app_registration</mat-icon>
            <span>Regisztráció</span>
        </a>
    </mat-nav-list>
</div>


<!-- <select  [(ngModel)]="currentPage" (change)="menuSwitch()">
    <option value="login">Bejelentkezés</option>
    <option value="signup">Regisztráció</option>
    <option value="main">Főoldal</option>
    <option value="entry">Nevezés</option>
    <option value="gallery">Galéria</option>
</select>-->